p{
    font-size: larger;
    font-weight: bold;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculator{
    background-color: rgb(254, 254, 254);
    line-height: 0%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px;
}

button{
    margin: 5px;
    padding: 10px;
    font-size: 10px;
}
